---
# Import main scss file
---

@import "../_sass/variables";
@import "../_sass/utilities";
@import "../_sass/buttons";
@import "../_sass/pygments";

@import "../_sass/vendor/bootstrap/bootstrap";

// Layout
@import "../_sass/header";
@import "../_sass/nav";
@import "../_sass/footer";

// Pages
@import "../_sass/home";
@import "../_sass/page";

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color-black;
}

.container {
  max-width: 990px;
}

.katacoda-container {
  margin: 0 50px;
  padding: 0;
}
