@import "../abstracts";

footer {
  background-color: map-get($colors, tertiary);
  color: map-get($colors, light-purple);
  padding: spacing('sm') spacing('sm');
  text-align: left;

  a {
    text-decoration: none;
    color: map-get($colors, footer-link);

    &:hover {
      text-decoration: none;
    }
  }

  h3 {
    color: map-get($colors, light-purple);
    font-size: font-size('h5');
  }

  .row {
    @include flex(row, flex-start, flex-start);

    @include respond-to(small) {
      flex-direction: column;
    }
  }

  .column { flex: 100%; }
  .column50 { flex: 50%; }
  .column60 { flex: 60%; }
  .column40 { flex: 40%; }

  .invite {
    border-bottom: 1px solid #502868;
  }

  .details {
    font-size: font-size('small');
    color: map-get($colors, footer-details);
    padding: spacing('sm') 0;
  }

  .footer-top {
    gap: spacing('lg');
    padding: spacing('sm') spacing('md');
    margin: 0 auto;

    @include respond-to(large) {
      flex-direction: row;
      @include flex(row, flex-start, flex-start);
      max-width: 70rem;
    }

    @include respond-to(medium) {
      align-items: flex-start;
      @include flex(row, flex-start, flex-start);
    }

    @include respond-to(small) {
      flex-direction: column;
    }

    .quick-links {
      list-style: none;
      padding: 0;
      justify-content: left;

      li {
        margin: 0 spacing('sm');

        a {
          font-size: font-size('base');
          transition: color 0.3s ease;

          &:hover {
            color: map-get($colors, body-link);
          }
        }
      }
    }
  }

  form {
    margin: spacing('sm') 0;
    @include flex(column, flex-start, flex-start, spacing('xs'));



    input[type="email"] {
      padding: spacing('sm') spacing('md');
      font-size: font-size('base');
      border: 1px solid map-get($colors, border);
      border-radius: rem(32);
      width: 250px;
      max-width: 100%;
      height: rem(48);

      &:focus {
        border: 1px solid rgb(251, 5, 239);
        outline: none;
      }
    }

    .btn {
      padding: spacing('sm') spacing('md');
      font-size: font-size('base');
      height: rem(48);
      min-width: rem(120);
    }
  }

  #response-message {
    height: 3rem;
  }
}
