@import "../abstracts";

main > header {

    h1 {
        color: color('primary');
    }

    > h1 {
        color: color('primary');
        margin: 3rem auto;
    }

    &#page-header {
        color: color('light-text');

        align-items: center;
        @include gradient(header);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        z-index: z('header');
        position: relative;

        @include respond-to(large) {
            padding: spacing('xl') spacing('lg') spacing('xxl') spacing('lg');
        }

        @include respond-to(medium) {
            padding: spacing('md') spacing('md') spacing('xl') spacing('md');
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
        }

        @include respond-to(small) {
            padding: spacing('sm') spacing('sm') spacing('lg') spacing('sm');
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        }

        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 700;
            color: color('light-text');

            @include respond-to(large) {
                font-size: 4rem;
                line-height: 1;
            }

            @include respond-to(medium) {
                font-size: 3rem;
                line-height: 1;
            }

            @include respond-to(small) {
                font-size: 2.8rem;
                line-height: 1;
            }
        }

        .subheading {
            margin-top: 0;
            margin-bottom: 1rem;
            font-weight: 500;
            color: color('light-text');
            line-height: 1.2;

            @include respond-to(large) {
                font-size: 1.25rem;
                max-width: 36rem;
            }

            @include respond-to(medium) {
                font-size: 1.15rem;
                max-width: 32rem;
            }

            @include respond-to(small) {
                font-size: 1rem;
                max-width: 28rem;
            }
        }

        .container {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: flex-start;

            margin: 0 auto;
            padding: 1rem 4rem 2rem 4rem;

            @include respond-to(large) {
                max-width: 84rem;
                gap: 2rem;
            }

            @include respond-to(medium) {
                flex-direction: row;
                align-items: left;
                padding: 1rem 2rem 2rem;
                gap: 2rem;
            }

            @include respond-to(small) {
                flex-direction: column-reverse;
                align-items: left;
                padding: 1rem 1.5rem 1.5rem;
            }

            hgroup.text {
                padding: 2rem 0rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h1 {
                    text-align: left;
                }

                @include respond-to(large) {
                    max-width: 50vw;
                }

                @include respond-to(medium) {
                    padding: 2rem 0rem 0rem 0rem;
                }

                @include respond-to(small) {
                    padding: 1rem 0rem 0rem 0rem;
                }
            }

            hgroup.logo {
                margin: 0 auto;

                img {
                    width: 23rem;
                    height: auto;
                    display: block;
                }

                @include respond-to(small) {
                    display: none;
                }
            }
        }

        .header-actions {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin: 0 auto;
            max-width: 84rem;
            width: 100%;

            @include respond-to(medium) {
                justify-content: flex-start;
            }

            @include respond-to(small) {
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            .btn {
                margin: 0;  // Override default button margin
            }
        }
    }
}

#page-nav {

    color: white; // Default text color
    $header-gradient: map-get($gradients, header);
    background-color: map-get($header-gradient, end);
    position: fixed; // Fix header at the top
    top: 0;
    left: 0;
    width: 100%; // Full-width header
    z-index: 1000; // Ensure it stays above other content

    .header-container {
      display: flex;
      justify-content: space-between; // Align logo and nav on opposite sides
      align-items: center;
      // max-width: 1200px; // Set a max width for the container
      margin: 0 auto; // Center the container
      padding: 0.2rem 1rem;
    }

    .header-logo {
      img {
        max-height: 40px; // Restrict logo size
        width: auto; // Maintain aspect ratio
      }
      margin: 0.5rem 0;
    }

    .main-nav {
      display: flex;

      ul {
        list-style: none; // Remove bullets
        display: flex; // Inline navigation links
        gap: 1.5rem; // Space between list items
        margin: 0;
        padding: 0;
        align-items: flex-end;

        li {
          a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.75rem;

            &:hover {
              color: #f3c; // Highlight color on hover
              text-decoration: n; // Add underline on hover
            }
          }
        }
      }
    }
}
