{% extends "base.html" %}
{% import 'macros/general.html' as general %}
{% import 'macros/project.html' as project %}

{% block banner %}
<header id="page-header" role="banner">
  <div class="container">
    <hgroup class="text">
      <h1>
        Manage traffic, <span class="pink-font">everywhere</span>
      </h1>
      <p class="subheading">
        Connect your applications and APIs with scale and resiliency using Envoy.
      </p>
      <p>
        The Envoy project provides solutions to control, secure, and observe API and application traffic.
      </p>
    </hgroup>
    <hgroup class="logo">
      <img src="/theme/images/envoy-graphic.png" alt="">
    </hgroup>
  </div>
</header>
{% endblock banner %}

{% block content %}
<section class="projects">
  <header>
    <h2>Envoy <span class="pink-font">projects</span></h2>
  </header>
  <div class="content flex-center">
    {% block projects %}
    {% for project_data in PROJECTS.values() | sort(attribute="project.weight") %}
    {{ project.feature(project_data.project, loop.index0 % 2) }}
    {% endfor %}
    {% endblock %}
  </div>
</section>

{{ general.quote_section(PROJECTS["envoy"].quotes[:1]) }}

{{ project.adopters(PROJECTS["envoy"].adopters) }}

{% endblock %}
