startup --host_jvm_args=-Xmx3g

build --color=yes
fetch --color=yes
run --color=yes

common --enable_bzlmod
common --noenable_workspace
common --@envoy//bazel:enable_bzlmod=True
common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/7b38d27d192670d0ec16ef9309d875387c781de9
common --noincompatible_disallow_empty_glob

build --workspace_status_command="bash bazel/get_workspace_status"
build --incompatible_strict_action_env
build --action_env=SPHINX_RUNNER_ARGS
build --copt=-Wno-deprecated-declarations
build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20
build --action_env=BUILD_DOCS_SHA
build --jobs=HOST_CPUS*.8
build --verbose_failures

common --@rules_python//python/config_settings:bootstrap_impl=script
build --incompatible_default_to_explicit_init_py
common --@protobuf//bazel/flags:prefer_prebuilt_protoc=true
common --incompatible_enable_proto_toolchain_resolution

common:ci --noshow_progress
common:ci --noshow_loading_progress
common:ci --test_output=errors
build:nodocs --//site:no_docs_latest

try-import %workspace%/repo.bazelrc
try-import %workspace%/user.bazelrc
