startup --host_jvm_args=-Xmx3g

run --color=yes
build --color=yes
build --action_env=SPHINX_RUNNER_ARGS
build --jobs=HOST_CPUS-1
build --action_env=BUILD_DOCS_SHA

build:ci --action_env=SPHINX_RUNNER_ARGS="-j 16 -v warn"
