startup --host_jvm_args=-Xmx3g

common --noenable_bzlmod
run --color=yes

common:ci --noshow_progress
common:ci --noshow_loading_progress
common:ci --test_output=errors

build --color=yes
build --action_env=SPHINX_RUNNER_ARGS
build --workspace_status_command="bash bazel/get_workspace_status"
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
build --action_env=BUILD_DOCS_SHA
build --jobs=HOST_CPUS*.8
build --verbose_failures

build:nodocs --//site:no_docs_latest

common:debug --announce_rc
common:debug -s
common:debug --verbose_failures
common:debug --sandbox_debug

try-import %workspace%/repo.bazelrc
try-import %workspace%/user.bazelrc
