---
layout: page
title: Ecosystem
custom_css: ecosystem
---

<p> Envoy works with ecosystem to create a strong, vibrant codebase. Ecosystem provide a mix of services, support, code, docs, open-source tools, and commercial products based around Envoy.</p>

<section id="ecosystem" class="bg-white">
  <h2 class="text-uppercase">Open Source Projects</h1>
  <div class="row">
    {% for project in site.data.home.projects %}
    <div class="col-sm-12 project">
      <div class="aspect-ratio-logo-box">
        <a href="{{ project.website }}">
          {% if project.logo %}
          <img class="name" alt="{{ project.name }}" src="{{ project.logo }}" />
          {% else %}
          <div class="name" >
            <h1 class="heading-big text-uppercase text-purple text-center">
              {{ project.name }}
            </h1>
          </div>
          {% endif %}
        </a>
      </div>
      <p class="text-dark-gray">{{ project.description }}</p>
      <p>
        <a href="{{ project.website }}">Learn More</a>
        {% if project.github %}
        &nbsp;|&nbsp;
        <a href="{{ project.github }}">Github</a>
        {% endif %}
      <p>
    </div>
    {% endfor %}
  </div>
</section>

<section id="ecosystem" class="bg-white">
  <h2 class="text-uppercase">Commercial Partners</h1>
    <div class="row">
      {% for company in site.data.home.partners %}
      <div class="col-sm-12 project">
        <div class="aspect-ratio-logo-box">
          <a href="{{ company.website }}">
            <img alt="{{ company.name }}" src="{{ company.logo }}" class="name" />
          </a>
        </div>
        <p class="text-dark-gray">{{ company.description }}</p>
        <p><a href="{{ company.website }}">Learn More</a><p>
      </div>
      {% endfor %}
    </div>
</section>
