[build]
publish = "_site"
command = "./build-website.sh"

[[headers]]
  # All not latest documentation.
  for = "/docs/envoy/v*"
  [headers.values]
    # https://support.google.com/webmasters/answer/93710?hl=en
    # Do not index.
    X-Robots-Tag = "noindex"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "frame-ancestors 'self';"

[build.environment]
  YARN_VERSION = "1.22.10"
  NODE_OPTIONS="--max-old-space-size=8192"
  BAZELISK_HOME="/opt/build/cache/bazelisk"

[context.production.environment]
  JEKYLL_ENV = "production"

[context.branch-deploy.environment]
  JEKYLL_ENV = "staging"

[context.deploy-preview.environment]
  JEKYLL_ENV = "staging"

# Redirect to Slack invite link.
[[redirects]]
from = "/slack"
to = "https://join.slack.com/t/envoyproxy/shared_invite/zt-1fuxyzagj-jfO6OXk0zKOmIW35XkanXw"
status = 302
