// Typography
$font-family-base: "Nunito", "Open Sans", "Helvetica Neue", sans-serif;
$font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$dark-text: #2b0b3e!default;
$font-sizes: (
  small: 0.8rem,
  base: 1rem,
  h1: 3rem,
  h2: 3rem,
  h3: 2.2rem,
  h4: 1.8rem,
  h5: 1.5rem,
  page-title: 6rem
);

// Colors
$colors: (
  primary: #6c1899,
  light-text: #fff,
  secondary: #DC3AA7,
  tertiary: #2b0b3e,
  text: #606c71,
  text-light: #819198,
  background: #fff,
  border: #dce6f0,
  code: #567482,
  success: #4caf50,
  info: #4983da,
  body-link: #DC3AA7,
  light-purple: #eaeef6,
  header-pink: #ead5ea,
  footer-link: #ff6cce,
  footer-details: #bca8c8,
  section-headings: #43105F,
  blockquote-text: #819198,
  footer-bg: #2b0b3e,
  pill-dark-bg: #2b0b3e,
  code-bg: #f3f6fa,
  table-border: #e9ebec,
  hr-border: #eff0f1
);

// Gradients
$gradients: (
  header: (
    start: #2b0b3e,
    end: #6c1899
  ),
  project: (
    start: #dfaadf,
    end: #ead5ea
  )
);

// Breakpoints
$breakpoints: (
  small: 768px,    // Mobile breakpoint
  medium: 1024px,  // Tablet breakpoint
  large: 1280px    // Desktop breakpoint
);

// Spacing
$spacing: (
  xxs: 0.25rem,
  xs: 0.5rem,
  sm: 1rem,
  md: 2rem,
  lg: 3rem,
  xl: 4rem,
  xxl: 7rem
);

// Layout
$container-max-width: 84rem;
$header-height: 4rem;

// Z-index
$z-layers: (
  header: 1000,
  modal: 2000
);
