<footer class="footer bg-purple">
  {% include nav.html %}
  <div class="b-gray">
    <div class="container text-center">
      <p class="text-white font-sm">{{ 'now' | date: "%Y" }} © Envoy Project Authors. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our Trademark Usage page: <a href="https://www.linuxfoundation.org/trademark-usage" class="text-white font-light">https://www.linuxfoundation.org/trademark-usage</a></p>
    </div>
  </div>
</footer>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
