<div class="announcement-banner">
  <p class="font-light">
    Announcing EnvoyCon. December 10, 2018 in Seattle, WA.
    <a target="_blank" href="https://blog.envoyproxy.io/announcing-envoycon-cfp-due-august-24-7ec8af179cb2">CFPs now open</a>!
  </p>
</div>
<header class="header bg-purple container-fluid">
    <div class="row">
      <div class="col-sm-3 logo">
        {% if page.title != 'Home' %}
          <a href="/">
            <img src="/img/envoy-logo.svg" alt="Envoy">
          </a>
        {% endif %}
      </div>
      <div class="col-sm-6">
        {% include nav.html %}
      </div>
    </div>
</header>