<header class="header bg-purple container-fluid">
    
  <div class="row">
    <div class="col-sm-3 logo">
      {% if page.title != 'Home' %}
        <a href="/">
          <img src="/img/envoy-logo.svg" alt="Envoy">
        </a>
      {% endif %}
    </div>
    <div class="col-sm-6">
      {% include nav.html %}
    </div>
  </div>
  <div class="announcement-banner">
    <p class="font-light">
      Register for <a target="_blank" href="https://events.linuxfoundation.org/envoycon">EnvoyCon 2020 Virtual | October 15, 2020</a>
    </p>
  </div>
</header>