<div class="versions">
  {% for version_group in site.data.versions %}
  <h2 class="text-large">{{ version_group.title }}</h2>

  <dl class="versions-info">
    {% for version in version_group.versions %}
    <dt>
      <img src="/img/envoy-icon.svg" alt="Envoy" class="logo">
      {% if version.releases.size > 0 %}
      <a href="/docs/envoy/v{{ version.releases[0] }}/">
        v{{ version.version }} ({{ version.releases[0] }})
      </a>
      {% else %}
      <a href="/docs/envoy/{{ version.version | downcase }}/">
        {{ version.version }}
      </a>
      {% endif %}
    </dt>
    {% if version.releases.size > 0 %}
    <dd>
      <ul>
        <li>
          <img src="/img/docs.svg" alt="Envoy" class="icon">
          <a href="/docs/envoy/v{{ version.releases[0] }}/">
            Docs
          </a>
        </li>
        <li>
          <img src="/img/github.svg" alt="Envoy" class="icon">
          <a href="https://github.com/envoyproxy/envoy/releases/tag/v{{ version.releases[0] }}">
            Release
          </a>
        </li>
        {% if version.releases.size > 1 %}
        <li>
          <a href="#releases_{{ version.version | replace: '.' '_' }}"
             data-bs-toggle="collapse"
             aria-expanded="false"
             data-bs-target="#releases-{{ version.version | replace: '.' '_' }}">Previous releases</a>
          <ul id="releases-{{ version.version | replace: '.' '_' }}"
              class="collapse">
            {% for release in version.releases offset:1 %}
            <li>
              <span>
                <img src="/img/docs.svg" alt="Envoy" class="icon">
                <a href="/docs/envoy/v{{ release }}/">
                  {{ release }}
                </a>
              </span>
              <span>
                <img src="/img/github.svg" alt="Envoy" class="icon">
                <a href="https://github.com/envoyproxy/envoy/releases/tag/v{{ release }}">
                  Release
                </a>
              </span>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </dd>
    {% endif %}
    {% endfor %}
  </dl>
  {% endfor %}
</div>
