<footer class="footer bg-purple">
  {% with show_logo='no' %}
  {% include 'nav.html'  %}
  {% endwith %}
  <div class="b-gray">
    <div class="container text-center">
      <p class="text-white font-sm">
        {{ NOW.strftime('%Y') }} © Envoy Project Authors. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks.
        For a list of trademarks of The Linux Foundation, please see our Trademark Usage page:
        <a href="https://www.linuxfoundation.org/trademark-usage" class="text-white font-light">https://www.linuxfoundation.org/trademark-usage</a>
      </p>
    </div>
  </div>
</footer>
