<div class="row">
  <div class="col-sm-3 logo">
    {% if active_page != 'home' and show_logo != 'no' %}
    <a href="{{ SITEURL }}/">
      <img src="{{ SITEURL }}/theme/images/envoy-logo.svg"
           alt="Envoy">
    </a>
    {% endif %}
  </div>
  <div class="col-sm-6">
    <nav class="nav">
      <ul class="container-fluid">
        {% for link in NAV %}
        <li>
          <a href="{{ SITEURL }}{{ link.url }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
