{% extends "base.html" %}
{% import 'macros/general.html' as general %}
{% import 'macros/project.html' as project %}
{% set body_class = "project-page" %}

{% block content %}

{{ project.render_project_header(PROJECTS[page.id].project) }}

<section>
  <header>
    <h2>About</h2>
  </header>
  <div class="content">
    <div class="rich-content">
      {{ page.content }}
    </div>
  </div>
</section>

{% if PROJECTS[page.id].project.capabilities %}
{{ project.capabilities_section('section-purple', 'Capabilities', PROJECTS[page.id].project.capabilities) }}
{% endif %}

{% if PROJECTS[page.id].quotes %}
{{ general.quote_section(PROJECTS[page.id].quotes) }}
{% endif %}

{% if PROJECTS[page.id].adopters %}

{{ PROJECTS[page.id].adopters }}

{{ project.adopters(PROJECTS[page.id].adopters) }}
{% endif %}

{% endblock %}
