.btn-legacy {
  font-weight: 600;
  border-radius: 0;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -1px;
  display: inline-block;
  font-size: 24px;
  min-width: 213px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    background: $color-light-purple;
    color: $color-white;
  }

  &.btn-secondary {
    background: $color-gray;
    color: $color-white;
  }

  &.btn-big {
    min-width: 302px;
  }
}
