header.header {
  line-height: 40px;

  .logo {
    margin-top: 10px;
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    line-height: 85px;
    padding: 0 40px;

    .logo {
      margin: 0;
      text-align: left;
    }

    .nav {
      padding: 0;
    }
  }

}