#hero {
  .container {
    max-width: 870px;
  }
  .hero-information {
    padding: 30px 0 25px;

    img {
      max-width: 100%;
    }

    .headline {
      letter-spacing: 4px;
      line-height: 30px;
    }
  }
}

.envoy-version-number {
  padding: 0 2.5rem;
  display: inline-block;
  line-height: 68px;
  text-align: center;
  min-width: 72px;
  border-radius: .5rem;
  background-color: $color-white;
  color: $color-purple;
  font-size: 36px;
  font-weight: 400;
  margin: 3rem 0 2rem 0;
}


.home-section {
  padding: 30px 0;

  &.padding-top-60 {
    padding-top: 60px;
  }

  &.padding-bottom-60 {
    padding-bottom: 60px;
  }

  &.padding-top-120 {
    padding-top: 120px;
  }

  &.padding-bottom-120 {
    padding-bottom: 120px;
  }

  h1 {
    margin: 10px 0 40px;
  }
}

.company {
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #E2E2E2;
  margin: 0 0 30px;
  text-align: center;

  img {
    max-width: 100%;
    height: 52px;
    object-fit: contain;
  }
}

.feature {
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #E2E2E2;
  margin: 0 0 30px;

  @media (min-width: $screen-sm-min) {
    min-height: 255px;
  }

  @media (min-width: $screen-md-min) {
    min-height: 230px;
  }

  p {
    letter-spacing: -.38px;
  }

}

.quote {
  padding: 40px 50px;

  strong {
    margin-right: 10px;
  }
}

.action-btns {
    padding-top: 1rem;

    .btn-legacy {
        margin: 10px;
    }
}
