.learn-header {
   
    .learn-description {
        font-size: 2rem;
        font-weight: 400;
    }

    .learn-history {
        background-color: $color-light-gray;
        border-radius: 5px;

        p {
            font-size: 1.75rem;
            padding: 2rem;
        }
    }
}