.learn-header {
   
    .learn-description {
        font-size: 2rem;
        font-weight: 400;
    }

    .learn-history {
        background-color: $color-light-gray;
        border-radius: 5px;

        p {
            font-size: 1.75rem;
            padding: 2rem;
        }
    }
}

// Inline code
code.highlighter-rouge {
    padding: 2px 4px;
    font-size: 90%;
    color: #e74c3c;
    background-color: #F4F4F4;
    border-radius: 4px;
}