#blog {
  padding: 35px 0;

  @media (min-width: $screen-sm-min) {
    padding: 100px 0;
  }

  > .container {
    max-width: 1070px;
  }
}

#default-page {
  padding: 20px 0;
}

.content-area {
  @media (min-width: $screen-sm-min) {
    padding-right: 45px;
  }

  .blog-heading {
    h1 {
      margin: 0 0 55px;
    }
  }

  h1 {
    a {
      color: $color-purple;
    }
  }

  .posts {
    list-style-type: none;
    padding: 0;

    .post {
      padding-bottom: 70px;
      margin-bottom: 70px;

      &:not(:last-child){
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.blog-sidebar {
  border-left: 1px solid $border-color;

  @media (min-width: $screen-sm-min) {
    padding-left: 45px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding-bottom: 25px;

      a {
        color: $color-purple;
        font-size: 18px;
      }
    }
  }
}

.project {
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #E2E2E2;
  margin: 0 0 30px;

  .aspect-ratio-logo-box {
    padding-top: 140px;
    margin: 0 auto 0 auto;
    min-width: 250px;
    max-width: 60%;
    height: 0;
    overflow: hidden;
    position: relative;

    .name {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: $screen-md-min) {
    .aspect-ratio-logo-box {
      padding-top: 23%;
      width: 32%;
      float: left;
      margin-right: 10px;
    }
  }

  p {
    letter-spacing: -.38px;
  }
}

// These classes ensure a "sticky" footer at the bottom
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-content {
    flex: 1;
  }
}

// The versions list in /docs
.versions-list {
  li {
    font-size: 2rem;
  }
}