#blog {
  padding: 35px 0;

  @media (min-width: $screen-sm-min) {
    padding: 100px 0;
  }

  > .container {
    max-width: 1070px;
  }
}

#default-page {
  padding: 20px 0;
}

.content-area {
  @media (min-width: $screen-sm-min) {
    padding-right: 45px;
  }

  .blog-heading {
    h1 {
      margin: 0 0 55px;
    }
  }

  h1 {
    a {
      color: $color-purple;
    }
  }

  .posts {
    list-style-type: none;
    padding: 0;

    .post {
      padding-bottom: 70px;
      margin-bottom: 70px;

      &:not(:last-child){
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.blog-sidebar {
  border-left: 1px solid $border-color;

  @media (min-width: $screen-sm-min) {
    padding-left: 45px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding-bottom: 25px;

      a {
        color: $color-purple;
        font-size: 18px;
      }
    }
  }
}