@import "variables";

// Syntax highlighting blocks
.highlight .highlight {
  padding: 1rem;
}

// Inline code snippets
code.highlighter-rouge {
  background-color: $code-bg-color;
  color: $code-color;
  padding: $code-padding;
}