{% import 'macros/page.html' as page %}

<footer>
  <div class="footer-top row">
    <div class="column60">
      <div class="row">
        <div class="column">
          {{ page.footer_links() }}
          {{ page.footer_socials(SITE["socials"]) }}
        </div>
        <div class="column">
          {{ page.footer_projects(PROJECTS) }}
        </div>
      </div>
    </div>
    <div class="column40">
      <div class="row invite">
        <div class="column">
          {{ page.footer_slack() }}
        </div>
      </div>
      <div class="row">
        <div class="details">
          {{ page.footer_ip() }}
        </div>
      </div>
    </div>
  </div>
</footer>
