{% extends "content.html" %}
{% set active_page = "community" %}

{% block content %}
<p>
  The Envoy development process is an open process. Here are the general communication channels we use to communicate.
</p>
<ul>
    <li>
      <a href="https://github.com/envoyproxy/envoy#contact">General contact info</a>
    </li>
    <li>
      <a href="https://github.com/envoyproxy/envoy#reporting-security-vulnerabilities">Reporting a security vulnerability</a>
    </li>
</ul>
<p> Envoy works with the wider community to create a strong, vibrant codebase. There are a variety of
    projects and organizations built on top of Envoy. We will list them below in alphabetical order:
</p>

<section id="community" class="bg-white">
  <h3 class="text-uppercase">Open Source Projects Built on Envoy Proxy</h3>
  <div class="row">
    {% for project in PROJECTS %}
    <div class="col-sm-12 project">
      <div class="aspect-ratio-logo-box">
        <a href="{{ project.website }}">
          {% if project.logo %}
          <img class="name" alt="{{ project.name }}" src="{{ SITEURL }}/images/logos/{{ project.logo }}" />
          {% else %}
          <div class="name" >
            <h4 class="heading-big text-uppercase text-purple text-center">
              {{- project.name -}}
            </h4>
          </div>
          {% endif %}
        </a>
      </div>
      <p class="text-dark-gray">{{ project.description }}</p>
      <p>
        <a href="{{ project.website }}">Learn More</a>
        {% if project.github %}
        &nbsp;|&nbsp;
        <a href="https://github.com/{{ project.github }}">Github</a>
        {% endif %}
      <p>
    </div>
    {% endfor %}
  </div>
</section>

<section id="community" class="bg-white">
  <h3 class="text-uppercase">Commercial Support and/or Offerings Built on Envoy Proxy</h3>
  <div class="row">
    {% for company in PARTNERS %}
    <div class="col-sm-12 project">
      <div class="aspect-ratio-logo-box">
        <a href="{{ company.website }}">
          <img alt="{{ company.name }}" src="{{ SITEURL }}/images/logos/{{ company.logo }}" class="name" />
        </a>
      </div>
      <p class="text-dark-gray">{{ company.description }}</p>
      <p><a href="{{ company.website }}">Learn More</a><p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
