{% extends "content.html" %}
{% set active_page = "training" %}

{% block content %}
<h2 class="text-uppercase">Training available for Envoy Proxy</h2>
<section id="community" class="bg-white">
  <div class="row">
    {% for resource in TRAINING %}
    <div class="col-sm-12 project">
      <div class="aspect-ratio-logo-box">
        <a href="{{ resource.website }}">
          {% if resource.logo %}
          <img class="name" alt="{{ resource.name }}" src="{{ SITEURL }}/images/logos/{{ resource.logo }}" />
          {% else %}
          <div class="name" >
            <h3 class="heading-big text-uppercase text-purple text-center">
              {{- resource.name -}}
            </h3>
          </div>
          {% endif %}
        </a>
      </div>
      <p class="text-dark-gray">{{ resource.description }}</p>
      <p>
        <a href="{{ resource.website }}">Sign up for the free course ›</a>
        {% if resource.github %}
        &nbsp;|&nbsp;
        <a href="https://github.com/{{ resource.github }}">Github</a>
        {% endif %}
      <p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
