---
layout: default
---

<div id="blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 content-area">
        <a href="/blog" class="text-purple text-uppercase">&larr; Back to all posts</a>
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h1 class="heading-big text-purple" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta text-uppercase font-bold font-sm">
              Posted on
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
              </time>
              {% if page.author %}
                by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
              {% endif %}</p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>
      </div>
      <div class="col-sm-4 blog-sidebar">
        <div>
          <header>
            <h1 class="heading-small text-purple text-uppercase">Articles</h1>
          </header>
          <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">
                {{ post.title | escape }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>