---
layout: default
---
<div id="default-page">
  <div class="katacoda-container">
    <div class="row">
      <div class="col-sm-12 content-area">
        <header class="learn-header">
          <h1 class="heading-big text-purple text-uppercase" itemprop="name headline">{{ page.title | escape }}</h1>

          {% if page.description %}
          <h3 class="learn-description">{{ page.description }}</h3>
          {% endif %}
        </header>

        <div class="page-content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>