@import "../abstracts";

.capability-card {
  @include card;

  h3 {
    @include flex(row, flex-start, center, spacing('xs'));
    margin-top: 0;
    font-size: font-size('h5');
    font-weight: 700;
    color: color('secondary');
  }

  .capability-icon {
    font-size: font-size('h4');
    color: color('secondary');
  }

  p {
    color: color('text');
  }
}

.project-page {

  .project-container {
    @include flex(row, space-between, center, spacing('xl'));
    padding: spacing('xl') 0;

    @include respond-to(medium) {
      flex-direction: column;
      padding: spacing('md') 0;
      gap: spacing('lg');
    }

    @include respond-to(small) {
      flex-direction: column;
      padding: spacing('sm') 0;
      gap: spacing('md');
    }
  }

  #page-header {
    color: color('primary');
    @include gradient(project);
    // background-image: linear-gradient(to bottom, map-get($gradients, project, start), map-get($gradients, project, end));
    // background-color: variables.$header-bg-color;
    // background-image: linear-gradient(0deg, #dfaadf, variables.$header-project-bg-color);
    // background-color: variables.$header-project-bg-color;


    hgroup.text h1 {
      color: color('primary');
    }

    .subheading {
      color: map-get($colors, tertiary);
    }

    .github-stats {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin-bottom: 1rem;

        @include respond-to(medium) {
            margin-bottom: 0.75rem;
        }

        @include respond-to(small) {
            margin-bottom: 0.5rem;
        }
    }
  }

  #page-nav {
    $header-gradient: map-get($gradients, project);
    background-color: map-get($header-gradient, end);

    .main-nav {
      li a {
        color: map-get($colors, tertiary);
      }

      @include respond-to(medium) {
        background-color: map-get($header-gradient, end);
      }

      @include respond-to(small) {
        background-color: map-get($header-gradient, end);
      }
    }
  }
}
