name: Sync Envoy

permissions:
  contents: read

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}

jobs:
  sync:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    if: |
      ${{
          !contains(github.actor, '[bot]')
          || github.actor == 'sync-envoy[bot]'
      }}
    steps:
    - id: appauth
      uses: envoyproxy/toolshed/gh-actions/appauth@actions-v0.0.18
      with:
        key: ${{ secrets.ENVOY_CI_UPDATE_BOT_KEY }}
        app_id: ${{ secrets.ENVOY_CI_UPDATE_APP_ID }}

    # Checkout the Envoy repo
    - name: 'Checkout Repository'
      uses: actions/checkout@v4
      with:
        repository: envoyproxy/envoy
        ref: main
        path: envoy

    # Checkout the repo
    - name: 'Checkout Repository'
      uses: actions/checkout@v4
      with:
        ref: main
        token: ${{ steps.appauth.outputs.token  }}
        path: envoy-website

    - run: |
        cd envoy-website
        ./sync_envoy.sh
      env:
        ENVOY_SRC_DIR: ../envoy
        COMMITTER_NAME: "update-envoy[bot]"
        COMMITTER_EMAIL: "135279899+update-envoy[bot]@users.noreply.github.com"
